.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin: 0;
    padding: 0;
    &_chosen {
        height: 450px;
    }
    .card_title {
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: center;
        &_blue {
            background-color: #208b9b;
        }
        &_green {
            background-color: #1d785f;
        }
        &_red {
            background-color: #b53f3d;
        }
        &_black {
            background-color: #1e2329;
        }
    }

    .card_price {
        display: flex;
        height: 40%;
        align-items: center;
        justify-content: center;
        &_blue {
            background-color: #29b5cb;
        }
        &_green {
            background-color: #22a17b;
        }
        &_red {
            background-color: #ee524d;
        }
        &_black {
            background-color: #262c34;
        }
    }
    .price {
        font-size: 56px;
    }
    .card_speed {
        display: flex;
        height: 17%;
        background-color: #f6f6f6;
        color: #555555;
        align-items: center;
        justify-content: center;
    }
    .card_info {
        padding: 5%;
        display: flex;
        height: 26%;
        background-color: #eaeaea;
        color: #555555;
        align-items: center;
        justify-content: center;
    }
}
